docker
.dockerignore
node_modules
npm-debug.log
dist
coverage
test
out
./src/**/*.spec.ts
helm
.github
.gitignore
.git
.circleci
.eslintrc.js
.prettierrc
.nestjs_repl_history
nest-cli.json
sonar-project.properties
graph.json
codecov.yml
CHANGELOG.md
README.md
documentation
.env
.env.example
.env.ci
.env*
.flaskenv*
!.env.project
!.env.vault