# environment congfiguration
.env
.env.me
.env.previous

# dependencies
node_modules

.env*
.flaskenv*
!.env.project
!.env.vault

# build output
dist/**/*

# repl history
.nestjs_repl_history

# nestjs dev tools
graph.json
